In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from itertools import product
import scipy.stats as ss
import pickle

pd.options.display.max_rows = 150
pd.options.display.max_columns = 100

In [2]:
us = pd.read_csv('./datasets/task.csv')

In [4]:
# feats = [f'chapters_finished_day{i}' for i in [7]] + \
# [f'chapters_opened_day{i}' for i in [7]] + \
# [f'retained_day{i}' for i in [7]]
targ = 'target_full_ltv_day30'
subtargs = ['target_sub_ltv_day30', 'target_iap_ltv_day30', 'target_ad_ltv_day30']
time_cols = ['install_date']
cat_cols = ['media_source', 'country_code', 'platform']
num_cols = [col for col in us.columns if col not in [targ] + subtargs + time_cols + cat_cols]

In [5]:
us = us[num_cols + [targ] + ['platform']]

In [8]:
us = us[us['platform'] == 'android']
us = us.drop('platform', axis=1)

In [9]:
us.dtypes

total_sessions_day0           float64
total_sessions_day1           float64
total_sessions_day3           float64
total_sessions_day7           float64
chapters_finished_day0          int64
chapters_finished_day1          int64
chapters_finished_day3          int64
chapters_finished_day7          int64
chapters_opened_day0            int64
chapters_opened_day1            int64
chapters_opened_day3            int64
chapters_opened_day7            int64
chapters_closed_day0            int64
chapters_closed_day1            int64
chapters_closed_day3            int64
chapters_closed_day7            int64
diamonds_received_day0          int64
diamonds_received_day1          int64
diamonds_received_day3          int64
diamonds_received_day7          int64
diamonds_spent_day0             int64
diamonds_spent_day1             int64
diamonds_spent_day3             int64
diamonds_spent_day7             int64
tickets_spent_day0              int64
tickets_spent_day1              int64
tickets_spent_day3              int64
tickets_spent_day7              int64
retained_day1                   int64
retained_day3                   int64
retained_day7                   int64
chapters_finished_session1      int64
chapters_finished_session3      int64
chapters_finished_session9      int64
chapters_opened_session1        int64
chapters_opened_session3        int64
chapters_opened_session9        int64
chapters_closed_session1        int64
chapters_closed_session3        int64
chapters_closed_session9        int64
diamonds_spent_session1         int64
diamonds_spent_session3         int64
diamonds_spent_session9         int64
tickets_spent_session1          int64
tickets_spent_session3          int64
tickets_spent_session9          int64
app_sub_ltv_day0              float64
app_sub_ltv_day1              float64
app_sub_ltv_day3              float64
app_iap_ltv_day0              float64
app_iap_ltv_day1              float64
app_iap_ltv_day3              float64
ad_ltv_day0                   float64
ad_ltv_day1                   float64
ad_ltv_day3                   float64
target_full_ltv_day30         float64
dtype: object

In [6]:
us['install_date'] = pd.to_datetime(us['install_date'])
us.tail()

,chapters_finished_day7,chapters_opened_day7,retained_day7,media_source,install_date,country_code,platform
1467827,9,10,0,SOURCE_17,2021-12-30,COUNTRY_141,ios
1467828,13,13,0,SOURCE_23,2021-12-30,COUNTRY_141,ios
1467829,18,19,0,SOURCE_23,2021-12-30,COUNTRY_141,ios
1467830,24,24,0,SOURCE_4,2021-12-30,COUNTRY_141,ios
1467831,15,16,0,SOURCE_1,2021-12-30,COUNTRY_141,android

In [7]:
# top_countries = us.groupby('country_code')['country_code'].count().sort_values(ascending=False)[:20].index.values
# us['country_code'] = np.where(us['country_code'].isin(top_countries), us['country_code'], 'COUNTRY_000')
# high_act_percent = us[(us['country_code'] == 'COUNTRY_000') & us['activity'].isin([2, 3])].shape[0] / us.shape[0]
# print(f'Users with high activity from joined countries (COUNTRY_000): {high_act_percent}')

In [10]:
us.to_pickle('./datasets/android_num_us.pkl')